.mini-letter {
    font-size: 15px;
    float: right;
    background-color: #000;
    width: 30px;
    height: 30px;
    margin: 12px 5px;
    line-height: 30px;
    border-radius: 50%;
}



div.card-shape{
    /* height: 200px;
    width: 100px; */
    background-color: #999;
    color: #fff;
    font-size: 150px;
    background-image: url("bikeicon.png");
    background-size: contain;
    text-align: center;
    border-radius: 5px;
    border: 5px solid #999;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.18);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18); */
}

div.green-card{
    background-color: #79c879;
    /* background-image:  linear-gradient(90deg,transparent calc(50% - 5px), #000 calc(50% - 5px), #000 calc(50% + 5px), transparent calc(50% + 5px)); */
    background-image: url(vertical_line.png);
    background-position: 0 10px;
    background-position: 82px 0px;
    background-repeat: no-repeat;
}

div.pink-card{
    background-color: #fadadd;
    /* background-image:  linear-gradient(90deg,transparent calc(50% - 5px), #000 calc(50% - 5px), #000 calc(50% + 5px), transparent calc(50% + 5px)); */
    background-image: url(vertical_line.png);
    background-position: 0 10px;
    background-position: 82px 0px;
    background-repeat: no-repeat;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}



/* trial stuff for my card shape */
input[type=radio]:checked + label>div {
  border: 5px solid #fff;
  box-shadow: 0 0 3px 3px #333;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>div {
  /* border: 2px solid #999; */
  width: 170px;
  height: 240px;
  transition: 500ms all;
}

input[type=radio]:checked + label>div {
  transform:
    rotateZ(-10deg)
    rotateX(10deg);
}


.more-padding {
    padding-top: 30px;
}
