{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title">Your Hand</h1>

    <form method="POST" action="{{ url_for('view_hand') }}">

        <div class="row">
            {% for card in current_hand %}

            <div class="col-sm">
                <input type="radio" id="card_{{ loop.index }}"name="card_choice" class="input-hidden" />
                <label for="card_{{ loop.index }}">

                    <div class="card-shape {{ team_color }}">
                        <span class="mini-letter">R</span>
                        <p>{{ card }}</p>
                    </div>
                </label>
            </div>

            {% endfor %}
        </div><!--endrow-->
        <div class="row more-padding">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div><!--endrow-->


    </form>

{% endblock %}
