{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title">Your Choice</h1>

        <div class="row">
            {% for card in choosen_cards %}

            <div class="col-sm">
                    <div class="card-shape card-back-sprinter">
                        <span class="central-letter">S</span>
                    </div>
            </div>

            {% endfor %}
        </div><!--endrow-->
        <div class="row mt-5">
        <button class="btn btn-primary btn-lg">Reveal</button>
        </div><!--endrow-->


    </form>

{% endblock %}

{% block script %}

    <script src="{{ url_for('static', filename='js/jquery.flip.min.js') }}"></script>
    <<script type="text/javascript">
        $(".card").flip();

    </script>
{% endblock %}
