{% extends 'base.html' %}

{% block body %}
    <h1 class="bd-title">Your Choice</h1>

        <div class="row">
            {% for card in choosen_cards %}

            <div class="col-sm">

                    <div class="card-shape {{ card[2] }}">
                        <span class="mini-letter">{{ card[1] }}</span>
                        <p>{{ card[0] }}</p>
                    </div>

            </div>

            {% endfor %}
        </div><!--endrow-->
        <div class="row mt-5">
        <button class="btn btn-primary btn-lg">Reveal</button>
        </div><!--endrow-->


    </form>

{% endblock %}

{% block script %}
    
    <script src="{{ url_for('static', filename='js/jquery.flip.min.js') }}"></script>
{% endblock %}
